/*style généreaux*/
body{
    margin: 0;
    padding: 0;
    
}

/*navigateur*/
nav li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}


#filter{
   border: 1px solid red;
   width: 600px;
   height: 100px;
   display: inline-block;
}
#recherche{
    border: 1px solid blue;
    width: 600px;
    height: 100px;
    display: inline-block;  
}

#filter  {
    display: inline-block;
    vertical-align: top;
    
}
.tri {
    display: block;
    vertical-align: top;
}

