body{
    font-size: 11px;
    font-family: Verdana, Genava, sans-serif;
    color: #FFF;
    background-color: #666;
}
nav li {
   display: inline-block;
   vertical-align: top;
   
}

/*partie pour la page*/

/* éléments généraux */

body{
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-family: Verdana, Genava, sans-serif;
    color: #FFF;
    background-color: #666;
    
}
/*Header*/
header{
    background: url('images/jumentjpg') repeat-x bottom;
}



/* navigateur*/


nav {
    display: inline-block;
    width: 724px;
    text-align: right;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-bottom: 15px;
}

nav a{
    color: #181818;
    text-decoration: none;
    padding-bottom: 3px;
    font-size: 1.3em;
}

nav a:hover{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/*banniere*/
#banniere_image{
    margin-top: 15px;
    height: 200px;
}

/* corps */
section{
    
    width: 990px;
    
}
article{
    display: inline-block;
    width: 660px;
    text-align: justify;
    margin-right: 15px;
    margin-left: 10px;
}
article p{
    font-size: 0.8em;
}
aside{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 210px;
    text-align: justify;
    background-color: #766b54;
}
aside p{
    font-size: 0.8em;
}



