/* éléments généraux */

body{
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-family: Verdana, Genava, sans-serif;
    color: #FFF;
    background-color: #666;
    
}

/* navigateur*/


#nav li {
    display: inline-block;
    top: 30px;
    left: 166px;
    margin-bottom: 20px;
    
}
header{
    margin-left: 122px;
    
    
}



