/* éléments généraux */

body{
    padding: 0;
    margin: 0;
    
}

/* navigateur*/

nav li {
   display: inline-block;
   vertical-align: top;
   
}

#nav{
    left: 166px;
    border: 1px;
    border-color: red;
}
header{
    
}



