html, body {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    padding-left: 5px;
}

nav ul li{
    display: inline-block;
    position: relative;
    left: 990px;  
}

/* body */
article{
    display: inline-block;
    border: 1px solid red;
    position: absolute;
    width: 900px;
    height: 409px;
}

aside{
    display: inline-block;
    border: 1px solid green;
    position: absolute;
    left: 905px;
    width: 300px;
}
#barR button{
    position: absolute;
    left: 1050px;
    background-color: red;
}

#barRetour{
    background-color: #ccc;
    display: inline-block;
    width: 1150px;
    height: 40px;
}
#bar{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    background-image: url('images/');
    margin-bottom: 25px;
}

/* footer */
footer {
  position: absolute;
  top: 790px;
}
.photo{
    display: inline-block;
}


