html, body {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    padding-left: 5px;
}

nav ul li{
    display: inline-block;
    position: relative;
    left: 990px;  
}

/* body */
article{
    display: inline-block;
    border: 1px solid red;
    position: absolute;
    width: 900px;
    height: 409px;
}

aside{
    display: inline-block;
    border: 1px solid green;
    position: absolute;
    left: 905px;
    width: 300px;
}
#barR button{
    position: absolute;
    left: 1050px;
    background-color: red;
}

#barRetour{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    background-color: #ccc;
    display: inline-block;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    color: white;
    font-size: 0.8em;
}
#bar{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    background-image: url('images/');
    margin-bottom: 25px;
}

/* footer */

#photo, #tweet, #amis, {
    display: inline-block;
    vertical-align: top;
}

#tweet{
    width: 28%;
}

#photo{
    width: 35%;
}

#amis{
    width: 31%;
}

#amis ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    padding-left: 2px;
}

footer{
    padding-top: 25px;
}


