body{
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
    background-color: #000;
}
.galerie{
    background-color: red;
    border: 2px solid #CCC;
    width: 333px;
    position: relative;
    margin: 20px;
    padding: 5px;
}

.galerie.vignette img:hover{
    border: 2px solid blue;
}

.galerie.vignette img{
    border: 2px solid #CCC;
    padding: 0;
    margin: 5px;
}

.galerie.vignette span{
    background-color: #FFF;
    padding: 5px;
    position: absolute;
    visibility: hidden;
    text-align: center;
}
.galerie.vignette:hover span{
    visibility: visible;
    top: 40px;
    left: 250px;
    z-index:50;
}
.galerie.vignette span p{
    color: #000;
    font-weight: blod;
    font-size: 14px;
    margin: 0;
    padding: 5px;
}
.galerie.vignette span img, .galerie.vignette span img:hover{
    border: none;
}