body{
    background-color: #bbb;
    color: #048;
    font-size: 12px;
    line-height: 16px;
}

a{
    color: #028;
}

footer{
    text-align: center;
}

nav{
    background-color: #bcd;
    border-radius: 8px;
    padding: 0 !important;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

section{
    padding-right: 0 !important;
}

.panel {
    background-color: #bcd;
    border-radius: 8px;
    padding-bottom: 5px;
}
h1{
    text-shadow: 4px 4px 5px #777;
}