/* Générale */
body{
    padding: 0;
    margin: 0;
    color: #000;
    font: normal 90% Tahoma, Verdana, Helvetica, Sans-Serif;
    
}



a {
    text-decoration: none;
    color: #08C;
}

a:hover{
    text-decoration: underline;
}

/* menu */
#menu {
    margin-top: 100px;
    list-style: none;
    border-bottom: 1px solid #000;
    float: right;
    width: 800px;
}

#menu a{
    background: #000;
    color: #FFF;
    font-size: 130%;
    font-variant: small-caps;
    text-decoration: none;
    padding: 0 5px;
}

#menu a:hover{
    background: #666;
}

#menu ul li{
    display: inline;
    padding: 0;
}

/*id sousMenu */
#sousMenu{
    margin-top: 550px;
    display: inline;
    vertical-align: top;
    border: 2px solid green;
}

#filter{
     margin-top: 500px;
     display: inline-block;
     vertical-align: top;
     position: relative;
     border: 2px solid red;
     margin-left: 15px;
}

#recherche{
    margin-top: 122px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border: 2px solid blue;
}


/* page */
#page {
    width: 980px;
    border: 2px solid red;
}

/* content */
#content{
    border: 2px solid black;
}