/*page*/
html, body, form, fieldset {
    margin: 0;
    padding: 0;
}

ol, ul {
    margin: 0;
}

body {
    color: #000;
    font: normal 90% Tahoma, Verdana, Helvetica, Sans-Serif;
}

/*page */
#page {    
    width:980px;    
    margin: 0 auto;
    border: 2px solid red;
}

a {
    color: #08C;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
/*header*/
#header{
    margin-top: 15px;
    border: 2px solid red;
}

/*menu */
#menu{
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #000;
    float: right;
    margin-top: 100px;
    width: 800px;
}

#menu li{
    display: inline;
    padding: 0;
}

#menu a{
    background: #000;
    color: #FFF;
    font-size: 130%;
    font-variant: small-caps;
    text-decoration: none;
    padding: 0 5px;
}

#menu a:hover{
    background: #666;
}

/*page*/
#container{
     height: 150px;
}

#mMenu{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    border: 2px solid blue;
    position: fixed;
    top: 150px;
    width: 150px;
    margin-right: 805px;
}



/* content */
#content {
    position: absolute;
    display:  inline-block;
    top: 150px;
    vertical-align: top;
    width: 800px;
    border: 2px solid green;
    padding-left: 20px;
    margin-left: 155px;
}

/* footer */
#footer{
    border-top: 1px solid #CCC;
    text-align: center;
    color: #999;
    font-size: 85%;
}
