/*éléments généreaux*/
html, body{
    background-color: #CCC;
    font-family: Tohoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000;
}

#menu-dynamique {
    position: relative;*/
    width: 280px;
}

#menu-dynamique h1{
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-align: center;      
}

.list-menu li {
    list-style: none;
}

.list-menu li a{
    color: #000;
    height: 20px;
    line-height: 20px;
    text-decoration: none;   
}

.list-menu li a:hover{
    text-decoration: underline;
}

#menu1.list-menu,
#menu2.list-menu,
#menu3.list-menu{
    z-index: 3;
    position: absolute;
    left: 0;
    top: 30px;
    background: #FFF;
}

#menu2{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 30px;
    background: #FFF;
}



#menu-dynamique {
   /* display: inline-block;
    padding: 10px;
   /* position: relative;*/
   /* width: 280px;*/      
}



#menu-dynamique:hover h1,
#menu-dynamique:focus h1,
#menu-dynamique:active h1{
    background: none;      
}

#menu1{
    z-index: 3;
    position: absolute;
    left: 0;
    top: 30px;
    background: #FFF;
}

#menu1 h1{
    z-index: 3;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
}

#menu1.list-menu,
#menu2.list-menu,
#menu3.list-menu{
    z-index: 3;
    position: absolute;
    left: 0;
    top: 30px;
    background: #FFF;
}

#menu2{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 30px;
    background: #FFF;
}

#menu2 h1{
    z-index: 2;
    width: 80px;
    position: absolute;
    left: 80;
    top: 0;
}

#menu3{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 30px;
    background: #FFF;
}

#menu3 h1{
    width: 80px;
    position: absolute;
    left: 160px;
    top: 0;
}

#menu1:hover h1,
#menu1:focus h1,
#menu1:active h1{
    z-index: 4;
    background: #FFF;

