body{
    font-size: 11px;
    font-family: Verdana, Genava, sans-serif;
    color: #FFF;
    background-color: #666;
}

 #menu ul{
    padding: 0;
    margin: 0px;
    width: 150px;
    background-color: #CCC;
    border-right: 5px solid #333;
}

#menu li:hover{
    background-color: #3CF;
}

#menu ul li{
    position: relative;
    list-style: none;
}

#menu ul ul{
    display: none;
    position: absolute;
    top:0;
    left:200px;
}

#menu li a{
    padding: 0 0 0 5px;
    display: block;
    width: 195px;
    height: 40px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

#menu ul.niveau1 li.sousmenu:hover ul.niveau2{
    display: block;
}

#menu ul.niveau2 li.sousmenu:hover ul.niveau3{
    display: block;
}

.soumenu{
    background:url(../images/arrow.jpg) 175px 1px no-repeat;
}

#menu li.soumenu:hover{
    background: #3CF;
}

p{
    text-align: center;
    width: 900px;
}

img{
    width: 200px;
    min-width: 200px;
    max-width: 250px;    
}

.bloc{
    top: 20px;
    left: 600px;
    height: 200px;
    position: fixed;
}