/*Table*/

#table  {
 border-collapse: collapse; /*Les bordures du tableau seront collées*/  
}

td {
    border: 1px solid black;
}
#film{
    border-collapse: collapse;
    
}

/*Les principaux */
body{
    left: 15px;
    padding: 100px;
}

/*header*/
header{
    border: 1px solid black;
    width: 1200px;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    margin: 5px;
}

/*navigation*/
nav{
    display: inline-block;
    border: 1px solid black;
    position: relative;
    left:  870px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}
nav ul{
    list-style-type: none;
}
nav a:hover{
    color: #760001;
    border-bottom: 3px solid #760001;
}

a{
    text-decoration: none;
}
nav{
background-color: blue;
}
nav a{
    font-size: 1.3em;
    color: #181818;
}
.navigation li {
    display: inline-block;
    margin-right: 15px;
}
section{
    display: inline-block;
    width: 1200px;
    border: 1px solid blue;
    vertical-align: top;  
}

/*bannière*/
#banniere{
    display: inline-block;
    width: 1200px;
    border: 1px solid black;
    height: 150px;
    margin: 2px;
    
}
#banniere i{
    position: relative;
    left:  780px;
    top: 120px;
}
#banniere img{
    position: relative;
    left: 750px;
    top: 120px;
}
#banniere a{
    position: relative;
    top: 120px;
}
#banniere_description {
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
}
article{
    display: inline-block;
    width: 860px;
    border: 1px solid red;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
}
aside{
    vertical-align: top;
    display: inline-block;
    border: 1px solid green;
    width: 220px;
    height: 450px;
    margin-left:0px;
    margin-top: 10px;
    padding: 10px;
    background-color: #706b64;
    border-radius: 5px;
}
aside#photo_zozor{
    text-align: center;
}
.reseau img{
    position: relative;
    vertical-align: bottom;
    display: inline-block;
}
/*footer*/
footer{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 1200px;
}
#tweet{
    vertical-align: top;
    border: 1px solid green;
    width: 300px;
    height: 150px;
    margin: 5px;
    position: relative;
    display: inline-block;
    
}
#mesPhotos{
    vertical-align: top;
    border: 1px solid green;
    width: 300px;
    height: 150px;
    margin: 5px;
    position: relative;
    display: inline-block;
}
#mesPhotos img{
    margin-left: 5px;
    border: 1px solid green;
}
#mesAmis  {
    position: relative;
    border: 1px solid green;
    width: 300px;
     display: inline-block;
     padding: 10px;
}

#mesAmis ul  {
    position: relative;
    display: inline-block;
     vertical-align: top;
     margin-top: 0px;
     width: 48%;
     padding-left: 2px;
     text-decoration: none;
     list-style-type: none;
}
#mesAmis a {
    text-decoration: none;
}
#mesAmis li{
    text-decoration: none;
}