/*éléments généreaux*/
body{
    padding: 0;
    margin: 0;
}

/*en tete */
ul li {
 display: inline-block;
 list-style: none;
 vertical-align:
}
nav ul{
    display: inline-block;
}
header{
    border: 1px solid black;
    width: 800px;
    height: 200px;
}
div{
    border: 1px solid red;
    width: 800px;
    height: 200px;
}

/*corps*/
section{
    border: 1px solid black;
    width: 800px;
    height: 900px;
}
article{
 border: 1px solid black;
    width: 500px;
    height: 900px;   
}
aside{
 border: 1px solid blue;
    width: 200px;
    height: 900px;      
}


/*pied de page*/
footer{
    border: 1px solid black;
    width: 800px;
    height: 200px;   
}




