/*éléments généreaux*/
body{
    padding: 0;
    margin: 0;
}

/*en tete */
 li a{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    vertical-align: top;
    margin-left:  10px;
    padding: 12px;
    font-size: 30px;
    left: 45px;
}

#titre li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
}
nav {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    left: 2705px;
}

header{
    border: 1px solid black;
    width: 2900px;
    height: 300px;
    padding: 10px;
    margin-left: 700px;
}

div{
    border: 1px solid red;
    width: 800px;
    height: 200px;
}

/*corps*/
section{
    border: 1px solid black;
    width: 800px;
    height: 900px;
}

article{
    border: 1px solid black;
    width: 500px;
    height: 900px;   
}

aside{
    border: 1px solid blue;
    width: 200px;
    height: 900px;      
}

/*pied de page*/
footer{
    border: 1px solid black;
    width: 800px;
    height: 200px;   
}




