/*éléments généreaux*/
body{
    padding: 0;
    margin: 0;
}

/*en tete */
 li a{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    vertical-align: top;
    margin-left:  10px;
    padding: 12px;
    font-size: 50px;
    left: 40px;
}

#titre a:active{
    color: red;
}

#titre a:hover{
    color: red;
}

#titre li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

nav {
    position: relative;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    left: 2030px;
    top:  232px;
}

header{
    border: 1px solid black;
    width: 2880px;
    height: 300px;
    padding: 10px;
    margin: 2px;
    margin-left: 700px;
    background-color: #000;
}

#baniere {
    border: 1px solid red;
    width: 2900px;
    height: 400px;
    margin-left: 700px;
    padding: 2px;
    margin-bottom: 2px;
}

#bouton_rouge {
    position: absolute;
    text-align: center;
    left: 3355px;
    top: 680px;
    width: 90px;
    height: 30px;
    background: url(../images/bg_bouton.jpg) 0 0 repeat-x;  
}

#bouton_rouge a{
    font-size: 30px;
}

#bouton_rouge a:hover{
    color: red;
}

#sous_baniere{
    position: absolute;
    left: 709px;
    top: 600px;
    height: 120px;
    width: 2882px;
    background: url(../images/notredame.jpg) 0 0 repeat-x;
    font-size: 40px;
}

#sous_baniere a{
    position: absolute;
    top: 80px;
}

/*corps*/
section{
    border: 1px solid black;
    width: 2900px;
    margin-left: 700px;
    margin-bottom: 5px;
    margin-top: 5px;
}

article{
    border: 1px solid black;
    width: 2100px;
    height: 1200px;
    padding: 5px;
    margin: 5px;
    text-align: justify;
    vertical-align: top;
    display: inline-block;
    font-family: Verdana sans-serif;
    font-size: 35px;    
}

aside{
    border: 1px solid blue;
    width: 740px;
    height: 1200px;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
    display: inline-block;
    background-color: #CCC;
    font-size: 35px;
    text-align: justify;
}


#moi img{
    position: relative;
    text-align: center;
    left: 280px;
}



/*pied de page*/
footer{
    border: 1px solid black;
    width: 2900px;
    height: 300px;
    margin-left: 700px;
}

#tweet {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 1px solid red;
    margin: 2px;
    width: 700px;
    font-size: 40px;
    height: 280px;
}

#mes_photos {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 1px solid red;
    margin: 2px;
    width: 700px;
    height: 280px;
}

#mes_amis {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 1px solid red;
    margin: 2px;
    width: 700px;
    height: 280px;
}




