.tableau{
    border: none;
    text-align: center;
    width: 900px;
    border-collapse: collapse;
}

.premiere {
    background: url(../images/bg_tableau_haut.jpg) 0 0 repeat-x;
    height: 44px;   
}

.premiere th{
    padding: 10px;
    margin: 0;
    color: #FFF;
    font-size: 14px; 
}

.tableau td{
    height: 40px;
    border-bottom: 1px solid #CCC;
}

.derniere td{
    background: url(../images/bg_tableau_bas.jpg) 0 0 repeat-x;
    font-weight: bold;
    height: 66px;
    margin: 0;
    color: #FFF;
    font-size: 14px; 
}

.no-border td{
    border: 1px solid red;
}

.grise{
    background-color: #CCC;
}

